<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
	<title>Vulgate Reference Finder</title>
	<h1>Que<sup>2</sup></h1>

	<script type="text/javascript" src="lib/jquery-2.2.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script type="text/javascript" src="lib/ng-file-upload-shim.min.js"></script>
	<script type="text/javascript" src="lib/ng-file-upload.min.js"></script>
	<script type="text/javascript" src="controller.js"></script>

</head>
<body id="body" ng-controller="myCtrl" >
	<div id="header">
		<div class="center">
			<button id="upload" class="button" ngf-select="upload($file)">Upload File</button>
<!-- 		<form name="form">
			<input type="file" id="upload" name="file" class="button" ngf-select ng-model="file">
			<button type="submit" ng-click="submit()">submit</button>
		</form> -->
	</div>
</div>
<div id="main-wrap">
	<div id="file_side">
		<div id="file">{{fileName}}</div>
		<div id="loading">{{loading}}</div>
		<div class="border" ng-show="showDiv">
			<div class="scrollable">
				<div class="refs" ng-repeat="r in results track by $index">		
					<div class="sentence" ng-click="showRefs($index)" ng-if="selectedSentence != $index">{{r.sentence}}.</div>		
					<div class="sentence" id="highlightedText" ng-if="selectedSentence == $index"> {{r.sentence}} </div>
				</div>
			</div>	
		</div>
		<div id="totalFreq">
			<div class="border" ng-show="showDiv">
				<div class="scrollable" >
					<div>
						Total references found:
						{{total}}
					</div>
				</div>
			</div>
		</div>
		<div id="oldVNew">
			<div class="border" ng-show="showDiv">
				<div class="scrollable" >
					<div>
						Old testament references found: &emsp;
						{{oldRef}} &emsp; {{oldPct}}%
					</div>
					<div>
						New testament references found: &emsp;
						{{newRef}} &emsp; {{newPct}}%
					</div>
				</div>
			</div>
		</div>
		<div id="bookFreq">
			<div class="border" ng-show="showDiv">
				<div class="scrollable" >
					<div class="refs" id="statWrap" ng-repeat="stat in stats">
						<span id="statBook"> {{stat.book}} </span> 
						<span id="statFreq"> {{stat.freq}} </span>
						<span id="statFreqPct"> {{stat.freqPct}}% </span>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div id="vulgate_side">
		<div id="file" ng-show="showDiv">Vulgate</div>
		<div ng-show="showDiv && selectedSentence < 0"> Click on a sentence to view its references!</div>
		<div class="border" ng-show="showDiv && selectedSentence >= 0">
			<div class="scrollable">
				<div id="t0" ng-if="hasRefs==false"> No references found. </div>
				<div class="refs" ng-repeat="ref in vref">
					<span ng-repeat="ind in ref.inds track by $index">
						<span id="ts">
							<div id="t1" ng-if="$first"> {{ref.w1}} </div>
							<div id="t1" ng-if="$first"> {{ref.w2}} </div>
							<div id="t1" ng-if="$first"> {{ref.w3}} </div>
							<input type="checkbox" id="t3" ng-checked="marked.markedIndex[selectedSentence][$parent.$index].indexOf($index) >= 0" ng-click="onCheck(ind,$parent.$index,$index)"> 
							<div id="t2" ng-click="getVerse(ind,$parent.$index,$index)">{{ind}} </div>

						</span>
						<div id="t4" ng-if="popupIndex[0] == $parent.$index && popupIndex[1] == $index"> {{popup}} </div>
					</span>
				</div>
			</div>
		</div>
		<div id="totalFreq" ng-show="marked.hasMark">
			<div class="border" ng-show="showDiv">
				<div class="scrollable" >
					<div>
						Total marked references found:
						{{marked.total}}
					</div>
				</div>
			</div>
		</div>
		<div id="oldVNew" ng-show="marked.hasMark">
			<div class="border" ng-show="showDiv">
				<div class="scrollable" >
					<div>
						Marked old testament references found: &emsp;
						{{marked.oldRef}} &emsp; {{marked.oldPct}}%
					</div>
					<div>
						Marked new testament references found: &emsp;
						{{marked.newRef}} &emsp; {{marked.newPct}}%
					</div>
				</div>
			</div>
		</div>
		<div id="bookFreq" ng-show="marked.hasMark">
			<div class="border" ng-show="showDiv">
				<div class="scrollable" >
					<div class="refs" id="statWrap" ng-repeat="stat in marked.stats">
						<span id="statBook"> {{stat.book}} </span> 
						<span id="statFreq"> {{stat.freq}} </span>
						<span id="statFreqPct"> {{stat.freqPct}}% </span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	
</div>

</body>
</html>