
header {
	background-color:black;
	color:white;
	text-align:center;
	padding:5em;
}

body {
    background-color: #b7d1c4;
}

#input {
    float: left;
    margin: 8px 8px;
    resize: none;
    font-size: 1em;
}

#pdf {
    float: right;
    width: 40%;
}

h2{
    float: center;
}

#userInput{
    float: right;
}
#iframe_1{
    display: none;
/*    This hides the iFrame*/
}