body {
	/*background-color: #b7d1c4*/
}

#main-wrap > div { min-height: 450px; }


#header,
#footer {
	min-height: 40px;
}

/* layout */
#main-wrap {
	/* overflow to handle inner floating block */
	overflow: hidden;
}

#sidebar {
	float: left;
	width: 50%;
}

#content-wrap {
	float: right;
	width: 50%;
	word-wrap:break-word;
	text-align: justify;
}   

h1 {
	font-family: Tahoma;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}

#file {
	font-family: Tahoma;
	font-weight: bold;
	text-align: center;
}

table {
	border: #000000 1px solid;
	border-collapse: separate;
	border-spacing: 10px 5px;
	margin: auto;
	table-layout: fixed;
	/*background-color: #B38B6D;*/
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.center {
	text-align: center;
}

tr:nth-child(even) {
	background-color: #F0F0F0;
}

tr {
	padding-bottom: 25px;
}

th {
	word-wrap:break-word;
	text-align: justify;
}

td {
	/*background-color: #cfbea5;*/
	width: 200px;
	max-width: 500px;
	word-wrap:break-word;
}

.highlightedText {
	background: yellow;
}

.sentence {
	font-family: Verdana;
	font-size: 1em;
	font-weight: normal;
	color: #3c4543;
	padding-bottom: 25px;
}

.refs {
	font-size: 1em;
	font-weight: normal;
}

#upload{
	/*border: 2px solid #000000;*/
	position: relative;
/*	border-radius: 5px;
background-color: #cc0323;*/
height: 25px;
width: 200px;
text-align: center;

}



.popover {
	position: absolute;
	z-index: 100;
	text-align: right;
}