body {
	background-color: #b7d1c4;
}

#main-wrap > div { min-height: 450px; }


#header,
#footer {
	min-height: 40px;
}

/* layout */
#main-wrap {
	/* overflow to handle inner floating block */
	overflow: hidden;
}


#left_side {
	float: left;
	width: 50%;
}

#right_side {
	float: right;
	width: 50%;
}   

h1 {
	font-family: "Segoe UI Light";
	/*font-weight: bold;*/
	text-align: center;
}

#file {
	font-family: Tahoma;
	font-weight: bold;
	text-align: center;
}

#stopwords {
	background-color: white;
	font-family: Tahoma;
	word-wrap: break-word;
	position: fixed;
	bottom: 23%;
	right: 25%;
	height: 50%;
	width: 50%;
	z-index: 100;
	resize: none;
	border: none;
	outline: none;
	float:center;
}

#stopwordBorder {
	background-color: white;
	border: #000000 1px solid;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	bottom: 22%;
	right: 24%;
	height: 52%;
	width: 52%;
	float:center;
	position: fixed;
	z-index: 100;
}

.scrollable {
	/*padding-right: 15px;*/
	max-height: 22em;
	overflow: auto;
}
.border {
	padding: 5px;
	background-color: white;
	border: #000000 1px solid;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left: 5px;
	margin-right: 5px;
	float:center;
}

.center {
	text-align: center;
}
#ts {
	overflow: hidden;
	display: block;
}

#t1 {
	float: left;
	width: 16%;
}
#t2 {
	float: right;
	width: 32%;
	cursor:pointer;
	text-decoration:underline;
}

#t2:hover {
    text-decoration:none;
    color:#707070;
     /*text-shadow: 1px 1px 1px #555;*/
}

#t3 {
	float: right;
	width: 4%;
}

#t4 {
	padding-top: 10px;
	padding-bottom: 10px;
	font-style: italic;
}


#highlightedText {
	background: #C0C0C0;
	color:black;
}

#filteredWord {
	background: #C0C0C0;
	color: #ff6b6b;
	text-decoration: underline;
}

.sentence {
	font-family: Verdana;
	font-size: 1em;
	font-weight: normal;
	color: #3c4543;
	/*text-shadow: 1px 1px 1px #555;*/
}

.refs {
	font-size: 1em;
	font-weight: normal;
	text-align: left;
	overflow: auto;
}

.refs:nth-child(even) {
	background-color: #E0E0E0;
	/*background-color: #b7d1c4;*/
}

.refs:nth-child(odd) {
	/*background-color: #ECECEC;*/
	/*background-color: #d7f1e4;*/
}

#upload{
	/*border: 2px solid #000000;*/
	position: relative;
	/*border-radius: 5px;*/
	height: 25px;
	width: 200px;
	text-align: center;

}

#statWrap {
	overflow: hidden;
	display: block;
}

#stat1 {
	width:60%;
	float:left;
}
#stat2 {
	width:20%;
	float:left;
}

#bookFreq {
	padding-bottom: 10px;
}
#totalFreq {
	padding-top: 10px;
	padding-bottom: 10px;
}
#oldVNew {
	padding-bottom: 10px;
}